*
{
	box-sizing: border-box;
}
.row
{
	width: 100%;
}

h1
{
	text-align: center;
}

p
{
	border-width: 0px;
	width: 90%;
	height: 150px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	color: white;
	font-family:Helvetica;
}

.header
{
	height: 30px;
	width: 30%;
	border: 1px solid black;
	position: relative;
	top: 0px;
	left:70%;
	text-align: center;
}

@media (min-width: 992px)
{
	.col-lg-4
	{
		float: left;
		border: 1px solid red;	
		background-color: #A52A2A;	
	}

	.col-lg-4
	{
		width: 33%;
	}

}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6, .col-md-12
	{
		float: left;
		border: 1px solid red;
		background-color: #A52A2A;
	}


	.col-md-6
	{
		width: 50%;
	}

	.col-md-12
	{
		width: 100%;
	}
}
@media (max-width: 767px)
{
	.col-sm-12
	{
		float: left;
		border: 1px solid red;
		background-color: #A52A2A;
	}
	.col-sm-12
	{
		width: 100%;
	}
}

