.row
{
	width: 100%
}

@media (min-width: 992px)
{
	.col-lg-4
	{
		float: left;
		border: 1px solid red;
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6
	{
		float: left;
		border: 1px solid red;
		width: 50%;
	}

	.col-md-6
	{
		float: left;
		border: 1px solid red;
		width: 100%;
	}
}
